@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --lato : 'Lato', sans-serif;
}

body {
    font-family: var(--lato);
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
    margin: 0;
}

#sms-body {
    display: flex;
    flex-direction: column;
}
.message {
    font-size: 1.1rem; 
    padding: 0.5rem;
    border-radius: 0.7rem;
    max-width: 30ch;
    margin-block: 0.4rem;
    min-width: 3rem;
}

#topbar {
    background-color: rgb(185, 185, 185);
}

#today {
    align-self: center;
}

.them {
    background-color: rgb(185, 185, 185);
    align-self: flex-start;
    
    color: black;
}

.me {
    background-color: rgb(81, 81, 164);
    align-self: flex-end;
    color: aliceblue;
}

#response-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    bottom: 1.5rem;
    justify-content: space-around;
    width: 100%;
}

#send {
    width: 2rem;
    height: 2rem;
    margin-inline: 0.3rem;
    cursor: pointer;
}

#sms-reply {
    height: 2rem;
    width: 20rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#container {
    padding: 1rem;
}